.UserProfile {
  margin-left: auto;
  .User {
    display: flex;
    .image {
      border-radius: 10px;
      margin-left: 10px;
      overflow: hidden;
      width: 44px;
      height: 44px;
      box-sizing: border-box;
      border: 3px solid transparent;
      transition: border 0.125s ease;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
    .name {
      align-items: center;
      display: flex;
      font-size: 18px;
      font-weight: 300;
      height: 44px;
    }
    &:hover {
      cursor: pointer;
    }
    &:hover .image {
      border: 3px solid #e50914;
    }
  }
}
.profile_dropdown {
  background: rgba(1, 1, 1, 0.8);
  color: #fff;
}
$bp-Phone: 500px;
@media (max-width: $bp-Phone) {
  .UserProfile {
    display: flex;
    justify-content: flex-end;
  }
}
