.package-card {
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: white;
  color: black;
}
.radio {
  font-size: 2rem;
}
.premium input[type='radio'] {
  display: none;
}
.premium span {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 5px solid #ff0000;
  display: block;
  position: relative;
  left: 0;
  top: 16%;
}
.premium span:after {
  content: '';
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #ff0000;
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  translate: 200ms ease-in-out 0s;
}
.premium input[type='radio']:checked ~ span:after {
  transform: translate(-50%, -50%) scale(1);
}

.Standard input[type='radio'] {
  display: none;
}
.Standard span {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 5px solid #ff0000;
  display: block;
  position: relative;
  left: 0;
  top: 16%;
}
.Standard span:after {
  content: '';
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #ff0000;
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  translate: 200ms ease-in-out 0s;
}
.Standard input[type='radio']:checked ~ span:after {
  transform: translate(-50%, -50%) scale(1);
}

.basic input[type='radio'] {
  display: none;
}
.basic span {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 5px solid #ff0000;
  display: block;
  position: relative;
  left: 0;
  top: 16%;
}
.basic span:after {
  content: '';
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #ff0000;
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  translate: 200ms ease-in-out 0s;
}
.basic input[type='radio']:checked ~ span:after {
  transform: translate(-50%, -50%) scale(1);
}
