.Logo {
  img {
    position: absolute;
    left: 40px;
    top: 20px;
    width: 100px;
    transition: margin 0.125s ease;
  }
  img svg path {
    fill: #e50914;
    transition: fill 0.125s ease;
  }
  img:hover {
    cursor: pointer;
    margin-top: 2px;
  }
  img:hover svg path {
    fill: #ffffff !important;
  }
}
