.header-container {
  width: 100vw;
  height: 90vh;
  position: relative;
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url(../../Assets/images/bg.jpg) no-repeat center center/cover;
}

.header-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 4.375rem 3.125rem 11.875rem #000,
    inset -4.375rem -3.125rem -11.875rem #000;
}
