.Header {
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
  padding-bottom: 50px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  z-index: 5;
}
