// poster_path
.swiper-button-prev {
  color: #fff !important;
}
.swiper-button-next {
  color: #fff !important;
}
.swiper-wrapper {
  padding: 20px 0;
  .swiper-slide {
    transition: 250ms all;

    &:first-child:hover {
      margin: 0 30px;
    }
    &:last-child:hover {
      margin: 0 -30px;
    }
  }
}

.swiper-wrapper:hover .swiper-slide {
  opacity: 0.3;
  &:hover {
    transform: scale(1.3);
    opacity: 1.2;
    z-index: 1;
    .playLogo {
      display: block;
    }
    .playText {
      display: block;
    }
    .overlay {
      display: block;
    }
  }
}
.playLogo {
  position: absolute;
  display: none;
  left: 135px;
  top: 75px;
  width: 60px;
  opacity: 0.8;
  z-index: 1;
  &:hover {
    cursor: pointer;
  }
}
.playText {
  position: absolute;
  text-align: center;
  display: none;
  bottom: 20px;
  left: 10px;
  z-index: 1;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  &:hover {
    cursor: pointer;
  }
}
.movieList {
  .overlay {
    display: none;
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      #221f1f 0%,
      rgba(34, 31, 31, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    height: 50%;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
.SliderImage {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
$bp-Phone: 500px;
@media (max-width: $bp-Phone) {
  .SliderImage {
    max-width: 50vw;
    min-height: 35vh;
    object-fit: cover;
  }
  .swiper-wrapper:hover .swiper-slide {
    &:hover {
      transform: scale(1.1);
      .playLogo {
        display: none;
      }
    }
  }
}
